   .cartBtn{
    padding: 8px;
    border-radius: 20px;
    background-color:#81b29a;
    color:black;
    font-size: 20px;
  }
  
  .cartBtn:hover {
    cursor: pointer;
    background-color:#e07a5f;
    color:#f4f1de;
  }


  .numeroCarrito{
    position: absolute;
    bottom: 70%;
    left: 15px;
    padding: 6px;
    font-size: 10px;
    background-color:red;
    color: white;
    border-radius: 100%;
  }